[Desktop Entry]
Type=Application
Version=1.0
GenericName=File Synchronizer
Name=MEGAsync
Comment=Easy automated syncing between your computers and your MEGA cloud drive.
TryExec=env QT_QPA_PLATFORM=xcb megasync
Exec=env QT_QPA_PLATFORM=xcb megasync
Icon=mega
Terminal=false
Categories=Network;System;
StartupNotify=true
X-GNOME-Autostart-Delay=60
