* {
    main-bg:            #1E0827E6;
    main-fg:            #E9E2E5;
    main-br:            #9C6186;
    main-ex:            #4C1545;
    select-bg:          #E9E2E5;
    select-fg:          #1E0827;
}
