[Desktop Entry]
Name=Element
StartupWMClass=Element
Comment=Element Desktop
GenericName=Element Client for Linux
Exec=/usr/bin/brave --app=https://app.element.io/
Icon=element
Type=Application
StartupNotify=true
Categories=GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/element;
